@charset "UTF-8";
/* CSS Document */

/* reset */
html,body{
	height: 100%;
}
body{
	margin:0;
	padding:0;
}
img {
    border: medium none;
}
div{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, ul, ol, li, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style-type: none;
}

dt,dd,th,td{
    box-sizing: border-box;
    margin:0;
    padding:0; 
}

.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
